{% extends "base.html" %}

{% block content %}
	<section class="container">
		<div class="jumbotron jumbotron-fluid row">
			<div class="container">
				<form action="" method="POST">
					<div class="form-group">
					    <label for="exampleInputEmail1">Category title</label>
					    <input type="text" name="title" class="form-control" placeholder="Category title">
					</div>
					<button type="submit" class="btn btn-success" value="add">Submit</button>
					<button type="submit" class="btn btn-info" value="cancel">Cancel</button>
				</form>
			</div>
		</div>

</section>
{% endblock %}